In [ ]:
# | hide
from nbdev.showdoc import *
from fastcore.test import *
from fastcore.utils import *

In [ ]:
# | hide
from sureau_ecos_py.create_climate_data import create_climate_data

In [ ]:
# | hide
create_climate_data(
    "./test_folder/climat_example.csv", sep=";", modeling_options=False
).head()

,DATE,Tair_min,Tair_max,Tair_mean,RG_sum,RHair_min,RHair_max,RHair_mean,WS_mean,PPT_sum,day_of_year,day_of_month,month,year
0,1990-01-01,-4.4,-2.1,-3.25,1.95,96.915145,96.915145,96.915145,0.3,0.0,1,1,1,1990
1,1990-01-02,-3.9,0.0,-1.95,3.22,96.915145,96.915145,96.915145,0.4,0.0,2,2,1,1990
2,1990-01-03,-1.9,0.5,-0.70,1.03,96.915145,96.915145,96.915145,1.5,0.0,3,3,1,1990
3,1990-01-04,-2.0,-0.4,-1.20,1.13,96.915145,96.915145,96.915145,1.2,0.0,4,4,1,1990
4,1990-01-05,-0.7,2.8,1.05,1.14,96.537691,96.537691,96.537691,1.4,0.4,5,5,1,1990